nav {
    width: 100%;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px!important;
}

a {
    color: white!important;
    text-decoration: none!important;
    margin-left: 15px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.nowrap {
    white-space: nowrap;
}

.circular-img {
    border-radius: 50%;
    overflow: hidden;
}

a.hover:hover {
    background-color: white;
    color: rgb(var(--bs-primary-rgb))!important;
}