td {
    color: rgb(130, 130, 130)!important;
}

td,th {
    vertical-align: middle;
}

.search-input {
    width: 30%!important;
}

@media(max-width:768px) {
    .search-input {
        width: 100%!important;
    }
}